*{
	padding: 0;
	margin:0;
}
@font-face{
	font-family: 萝莉体;
    src:url("../font/萝莉体.ttc");
}
.header{
	width: 100%;
	height: 150px;
	position: relative;


}
.header .top{
	width: 100%;
	height: 70px;

}
.header .top .top_content{
	width: 900px;
	height: 70px;
	margin:0 auto; 

}
.header .top .top_content .zhujiang{
	border-radius: 50%;
	height: 70px;
	float: left;
}
.header .top_content .huiyuan{
	border-radius: 50%;
	height: 30px;
	float: right;
	opacity: .8;
    
}
 .header .top .top_content .search{
 	width: 190px;
    height: 27px;
 	border:0;
 	border-radius: 10px;
    float: right;
    margin-top: 30px;
    background: URL(../images/search.jpg) no-repeat right center ;
    background-color: #FFF;
    padding-right: 25px;
 
 }
.header .top_content .huiyuan:hover{

 
    opacity: 1;
}
.header .nav{
	width: 800px;
	height: 80px;
	margin:0 auto;
}
.header .nav .nav_left{
	width: 900px;
	height: 80px;
    float: left;
}

.header .nav .nav_left ul li{
	 float: left;
	 list-style: none;
	 width: 180px;
	 line-height: 80px;
}
.header .nav .nav_left ul li a{
    font-family:"萝莉体";
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
}
.header .nav .nav_left ul li a:link,.header .nav .nav_left ul li a:visited{
	color:rgba(195,176,145,1);
}
.header .nav .nav_left ul li a:hover{
	color:#23b841;
}
#tianqi{
	position: absolute;
	left: 350px;
	top: 10px;
}
#wangzhanshouye{
	color:#23b841; 
}