.mianer_serve_xiaoche{
	position: relative;
	width: 799px;
	height: 800px;
	margin: 0px auto;
	border-radius: 10px;
 
}
#shenghuofuwu{
    color: #ff0;
}
.mianer_serve_xiaoche .mianer_serve_xiaoche_lie ul li{
    list-style: none;
    display: inline-block;
    font-size: 13px;
    color: #1c1f22;
}
.mianer_serve_xiaoche .mianer_serve_xiaoche_lie ul li a{
    text-decoration: none;
    color: #1c1f22;
}
.mianer_serve_xiaoche .mianer_serve_xiaoche_images img{
    position: absolute;
    top: 50px;
}


